<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add Heading -->
    <%- include("head"); -%> 

    <!-- CSS Files -->
    <link rel="stylesheet" href="styles.css">

</head>
<body>

    <!-- Start Gif 
    <img class="meta-img" src="https://media2.giphy.com/media/CB9yCyrnhi6f1CiWKs/giphy.gif?cid=ecf05e477xgyzwmgds02x3ktgg1lbws0xrj7lc35vicoiwuh&rid=giphy.gif&ct=g" alt="meta logo gif">
    -->
    
    <!-- Title + Credits -->
    <h1>Metaverse: An Explaination</h1>
    <p>This website was created to share my findings / research on the metaverse.</p>

    <!-- Start Website -->
    <div>
        <form action="/" method="post">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-lg btn-outline-dark btn-start" type="submit">Start</button>
            </div>
        </form>

        <h2>Created by: Aditya Sen</h2>
    </div>
    

</body>
</html>