<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add Heading -->
    <%- include("head"); -%> 
  
    <!-- CSS Files -->
    <link rel="stylesheet" href="main.css">


</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example3">

  <nav id="navbar-example3" class="navbar navbar-dark bg-dark p-3 fixed-top navbar-expand-lg">

    <div class="container-fluid">
      <a class="navbar-brand" href="/">Metaverse Research</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#item-1">What is the Metaverse?</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-2">How does it Work?</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-3">Examples</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-4">How it Affects People</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-5">Oppurtunities</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-6">Development</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-7">Contriversies</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#item-8">Citations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#quiz">Quiz</a>
          </li>
          
        </ul>

      </div>
      

    </div>
    
  </nav>
  
  
  <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">

    <div class="p-5 mb-4 bg-light rounded-3" id="item-1">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >What is the Technology?</h2>
        <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-2">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >How does it Work?</h2>
        <p class="col-md-8 fs-4">Technology that currently founds the metaverse isn’t completely invented yet, but with many big budget companies are working on creating the foundation to make it happen, from VR headsets that scan your face and the world around you to recreate it, to a stylish pair of AR glasses that augments the world. Matthew Ball a venture capitalist wrote in his essay “The Metaverse is a massively scaled and interoperable network of real-time rendered 3D virtual worlds which can be experienced synchronously and persistently by an effectively unlimited number of users with an individual sense of presence, and with continuity of data, such as identity, history, entitlements, objects, communications, and payments.” This explains what the metaverse promises, and companies such as Meta are creating new technology with sensors and cameras to interact with and augment the world around them. Therefore, the metaverse isn’t a singular piece of technology; it requires a full variety of tech from the augmented and virtual headsets to the software that will interact with the inputs given by the hardware cameras and sensors.</p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-3">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >Give some examples of ways this technology is used today, or explain why it isn’t used yet.</h2>
        <p class="col-md-8 fs-4">This technology continues to improve and become more advanced, this is just the beginning of the metaverse. Even though saying the metaverse has already become live and started, with VR headsets and AR glasses.</p>
        
        <h3>Technologies of Metaverse Today:</h3>
        <ul>
          
          <li>Facebook x Ray Ban Glasses (Ray ban Stories)</li>
          <li>VR Headsets</li>
          <li>AR Phones</li>
        </ul>

        <h3>Services of Metaverse Today:</h3>
        <ul>
          <li><strong>Games:</strong> Variety of games are made in VR, with game engines catering to creating VR games</li>
          <li><strong>Ray Ban Stories:</strong> you can take pictures, post, and record moments right through your glasses with Facebook Ray Bans, no phone needed</li>
        </ul>

        <p class="col-md-8 fs-4">Currently the gateway to the metaverse are video games, because games are a way to immerse yourself in a different world, and once games become more advanced so does the whole VR/AR and Mixed Reality market. We have games already out now, Second Life and VRChat are virtual social worlds where people can interact with others through a video game. </p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-4">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >How does this affect people’s lives now? How might it affect people’s lives in the future?</h2>
        <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-5">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >What opportunities are there related to the technology? Are there risks?</h2>
        <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-6">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >Is there anything holding back development in this area?</h2>
        <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-7">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >Describe any controversies about the technology</h2>
        <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
      </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3" id="item-8">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold" >Citation</h2>
        <p class="col-md-8 fs-4">The metaverse is a term used to describe how we’ll interact with each other and technology in the future, a virtual space that augments our interaction in a variety of different industries from entertainment to eCommerce. The CEO and Co-founder of Meta, Mark Zuckerberg stated, “The next [internet] platform and medium will be even more immersive, an embodied internet where you’re in the experience, not just looking at it.” This statement proves that he believes that the internet is still in its infancy, as we become more connected we need to improve the technology to become more immersive, where reality is intertwined with technology. The metaverse will be that technology that interacts with everyone and augments their world, building a smarter more virtual future where distance is not a concern. In conclusion, the metaverse is a broad term for a virtual connected space, where people can work, play, and socialize.</p>
      </div>
    </div>
                    
    <div class="p-5 mb-4 bg-dark rounded-3" id="quiz">
      <div class="container-fluid py-5 text-white">
        <h2 class="display-5 fw-bold" >Quiz</h2>
        <p class="col-md-8 fs-4">Take a quiz to solidify your knowledge about the metaverse!</p>

        <form action="/main" method="post">
          <button class="btn btn-lg btn-outline-light" type="submit">Start Quiz</button>
        </form>
      </div>
    </div>

  </div>

  <script src="main.js"></script>
</body>
</html>