/*********************************** Tag Selectors ***********************************/
body {
    text-align: center;
    background-image: -webkit-linear-gradient(65deg, #0668E1 50%, rgb(190, 255, 241) 50%);
    min-height: 750px;

    font-weight: bold;

}

/*********************************** Class Selectors ***********************************/
/* Start Button - Root Page */


/*********************************** ID Selectors ***********************************/